<app-navbar-mobile *ngIf="mobile" [inLogin]="inLogin"></app-navbar-mobile>
<div *ngIf="!mobile" class="toolbar">
    <div class="container">
        <div class="left">
            <img class="logo unselectable" (click)="routeTo('')" src="../../../assets/earth-logo.svg" />
            <div class="title unselectable" (click)="routeTo('')"> PLACE GUESSER </div>
        </div>
        <div *ngIf="!inLogin" class="middle">
            <button mat-button class="unselectable" (click)="routeTo('classic')"> CLASSIC </button>
            <button mat-button class="unselectable" (click)="routeTo('country')"> COUNTRY </button>
            <button mat-button class="unselectable" (click)="routeTo('multiplayer')"> MULTIPLAYER </button>
        </div>
        <div *ngIf="!inLogin" class="right">
            <button mat-icon-button (click)="routeTo('help')">
                <mat-icon>help</mat-icon>
            </button>
            <button class="" mat-icon-button (click)="routeTo('stats')"  [disabled]="guestMode">
                <mat-icon>equalizer</mat-icon>
            </button>
            <button mat-icon-button (click)="routeTo('profile')"  [disabled]="guestMode">
                <mat-icon>account_circle</mat-icon>
            </button>
        </div>
    </div>
</div>
