@import url('../../../../node_modules/flag-icons/css/flag-icons.min.css'); 

.container{

    display:flex;
    flex-direction: column;
  
    position: absolute;
  
    transition: all .2s ease-in-out;
  }

  .container-mobile{

    display:flex;
    flex-direction: column;
  
    // position: absolute;
    position:relative;
    width:100%;
    height: 100%;
  }
  
  .bottom-right{
    position: absolute;
    bottom: 10px;
    right: 10px;
  }

  .mobile{
    position:relative;
    width:100%;
    height: 100%;
  }
  
  .middle{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
    z-index: 20;
  }

  .container-full{
    display:flex;
    flex-direction: column;

    width:100%;
    height: 100%;
  }

  .map{
    transition: all .2s ease-in-out;
  }

  .mapfull{
    height:100%;
    width:100%;
  }

  .size-middle{
    width:80vw;
    height:80vh;
  }
    
  .size0{
    width:15vw;
    height:15vh;
  }
  
  .size1{
    width:25vw;
    height:25vh;
  }
  
  .size2{
    width:40vw;
    height:40vh;
  }
  
  .size3{
    width:60vw;
    height:60vh;
  }

  .size4{
    width:80vw;
    height:80vh;
  }

  .score-bar{
    font-size:1.5em;
    text-align: center;
  
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  
  
  .top-buttons{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  
  #button-guess{
    width: 100%;
  }

  #button-guess-mobile{
    position:absolute;
    bottom:20px;
    right: 60px;
  }

  .button-next-round{
    width: 100%;
    font-size: 1.5em;
    padding: 0.2em;
  }

.button-playagain{
  width: 100%;
  font-size: 1.5em;
  padding: 0.2em;
}

.button-resetgame{
  width: 100%;
  font-size: 1.5em;
  padding: 0.2em;
}

.solution{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.flag{
  font-size: 2em;
  //vertical-align:baseline;
}

  

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.5); /*dim the background*/
}