<div [ngClass]="roundEnded ? 'overlay' : ''"></div>
<div *ngIf="!gameEnded" [ngClass]="containerClasses" (mouseover)="resizeHover('size'+sizeIndex)" (mouseout)="resizeHover('size1')">
    <div *ngIf="!roundEnded && !mobile" class="top-buttons">
        <button color="basic" [disabled]="sizeIndex == 4" mat-mini-fab (click)="enlarge()">
            <mat-icon>north_west</mat-icon>
        </button>
        <button color="basic" [disabled]="sizeIndex == 1" mat-mini-fab (click)="reduce()">
            <mat-icon>south_east</mat-icon>
        </button>
        <button mat-mini-fab [color]="isPinned ? 'warn' : 'basic'" (click)="pin()">
            <mat-icon>lock</mat-icon>
        </button>
    </div>
    <div *ngIf="roundEnded">
        <mat-card class="score-bar">
            <div>
                You were <b>{{distance}}</b> km away
            </div>
            <div>
             You scored <b>{{score}}</b> points
            </div>        
        </mat-card>
    </div>
    <div [ngClass]="mapClasses">
        <google-map
            #map
            width="100%"
            height="100%"
            [zoom]="zoom"
            [center]="center"
            [options]="options"
            (mapClick)="click($event)"
        >
            <map-marker
                [position]="markerLatLng"
                [options]="markerOptions">
            </map-marker>
            <div *ngIf="path != undefined">
                <map-marker [position]="path[0]" [options]=""></map-marker>
                <map-marker [position]="path[1]" [options]="{'icon' : markerFlag}"></map-marker>
                <map-polyline [path]="path" [options]="{'strokeColor': 'red', 'strokeOpacity': 0.5}" ></map-polyline>
            </div>
        </google-map>
    </div>
    <button *ngIf="!roundEnded && !mobile" id="button-guess" color="primary" mat-raised-button (click)="guess()">
        GUESS
    </button>
    <button *ngIf="!roundEnded && mobile" id="button-guess-mobile" color="primary" mat-fab (click)="guess()">
        <mat-icon>check</mat-icon>
    </button>
    <button *ngIf="roundEnded" id="button-next-round" color="primary" mat-raised-button (click)="nextRound()">
        {{round == 5 ? "SUMMARY" : "NEXT ROUND"}}
    </button>
</div> 
<div *ngIf="gameEnded" class="container-full">
    <div class="mapfull">
        <google-map
        width="100%"
        height="100%"
        [zoom]="zoom"
        [center]="center"
        [options]="options"
        (mapClick)="click($event)"
        >
            <div *ngFor="let path of paths">
                <map-marker [position]="path[0]" [options]=""></map-marker>
                <map-marker [position]="path[1]" [options]="{'icon' : markerFlag}"></map-marker>
                <map-polyline [path]="path" [options]="{'strokeColor': 'red', 'strokeOpacity': 0.5}" ></map-polyline>
            </div>
        </google-map>
    </div>
    <button id="button-playagain" color="primary" mat-raised-button (click)="playAgain()">
        PLAY AGAIN
    </button>
    <button id="button-resetgame" color="basic" mat-raised-button (click)="resetGame()">
        HOME
    </button>
</div>