
<div class="container">
    <button class="button-previous large" [disabled]="displayIdx == 0" color="basic" mat-icon-button (click)="previous()">
      <mat-icon>arrow_back_ios</mat-icon>
    </button>
    <div class="images-container" (wheel)="scroll($event)" (scroll)="scrollBar()" #imagesContainer>
      <div class="image-normalizer2" *ngFor="let image of images; let i = index" >
        <img class="image unselectable" [attr.data-index]="i" [src]="image" (error)="refreshImageUrls()"/>
      </div>
      <!-- <img class="image" *ngFor="let image of images" [src]="image"/> -->
    </div>
      
    <button class="button-next large" [disabled]="displayIdx == imagesLength-1" color="basic" mat-icon-button (click)="next()">
      <mat-icon>arrow_forward_ios</mat-icon>
    </button>
  </div>