
<div class="container">
    <button class="button-previous large" [disabled]="displayIdx == 0" color="basic" mat-icon-button (click)="previous()">
      <mat-icon>arrow_back_ios</mat-icon>
    </button>
    <div class="images-container" (wheel)="scroll($event)" #imagesContainer>
      <div class="image-normalizer2" *ngFor="let image of images" >
        <img class="image unselectable" [src]="image"/>
      </div>
      <!-- <img class="image" *ngFor="let image of images" [src]="image"/> -->
    </div>
      
    <button class="button-next large" [disabled]="displayIdx == imagesLength-1" color="basic" mat-icon-button (click)="next()">
      <mat-icon>arrow_forward_ios</mat-icon>
    </button>
  </div>