<div #placecontainer></div>
<div class="container">
    <div class="status-bar">
        <div class="title-container" (click)="resetGame()">
            <img class="logo unselectable" src="../../../assets/earth-logo.svg" />
            <div *ngIf="!mobile" class="title unselectable">PLACE GUESSER</div>
        </div>
        <div *ngIf="!gameEnded">{{round}}/5 </div>
        <div>{{gameEnded && !mobile ? "Total Score " + totalScore : totalScore }} </div>
        <div *ngIf="gameEnded">{{'x' + multi+ ' ' + totalScoreMulti }} </div>
        <div *ngIf="gameEnded">{{!mobile ? "Global Ranking #"+gameRank : '#'+gameRank }} </div>
        <button *ngIf="gameEnded && mobile" class="button-showleaderboard" color="primary" mat-mini-fab 
            (click)="openStats()">
            <mat-icon>equalizer</mat-icon>
        </button>
        <button *ngIf="gameEnded && !mobile" class="button-showleaderboard" color="primary" mat-raised-button
            (click)="openStats()">
            <mat-icon>equalizer</mat-icon>
        </button>
    </div>
    <div *ngIf="!imageLoaded && !gameEnded" class="loading-container">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
    <div *ngIf="imageLoaded && !gameEnded" class="carousel-container">
        <app-image-carousel [images]="images" (refreshImageUrlsEvent)="getPlacePhotos()"></app-image-carousel>
    </div>
    <mat-card *ngIf="statsOpen" class="stats-container">
        <mat-card-title class="stats-title">STATS</mat-card-title>
        <mat-card-content>
            <app-stats-panel [stats]="stats" [barChartData]="barChartData" [rank]="rank" [username]="username"></app-stats-panel>
        </mat-card-content>
        <mat-card-actions>
            <button class="button-closehelp" color="basic" mat-raised-button (click)="closeStats()">
                CLOSE
            </button>
        </mat-card-actions>
    </mat-card>
    <!-- <div style="flex-grow:1"></div> -->
    <div [class]="gameEnded ? 'endmap-container' : 'map-container'">
        <app-map-selector #map [solution]="solution" [solutionCoords]="solutionCoords" [gameEnded]="gameEnded"
            [distance]="distance" [score]="score" [round]="round" (guessEvent)="checkGuess($event)"
            (nextRoundEvent)="nextRound()" (playAgainEvent)="playAgain()" (resetGameEvent)="resetGame()"
            (completePathsEvent)="completePaths($event)"></app-map-selector>
    </div>
</div>