@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');

.container{
    width : 100%;
    height:100vh;
    margin-left: auto;
    margin-right: auto;
    
    display: flex; 
    flex-direction: column;

  }
  
  
  @media only screen and (max-width: 1000px) {

    .status-bar{
      height: 10%;
    }

    .carousel-container{
      // height: calc(100vh - 400px);
      height: 60%;
    }

    .map-container{
      height: 30%;
    }
  }
  
/* .container img{
  max-width: 100%;
  max-height: 100vh;
} */

/* .map-container{
  position: absolute;
  bottom: 10px;
  right: 10px;
} */

.status-bar{
  font-size:2em;
  text-align: center;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  gap:20px;
}

.title-container{
  display:flex;
  flex-direction: row;
  align-items: center;

  font-family: 'Gugi', cursive;

  cursor: pointer;
}

.logo{
  margin-left: 10px;
  width:50px;
}


.unselectable{
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}