.container{
    display: flex; 
    flex-direction: column;
    align-items: center; 

    gap:15px;

    padding-bottom: 20px;
}

.auth-card{
    width: 400px;
}

.auth-form{
    display: flex;
    flex-direction: column;
    // align-items: center;
    gap: 5px;
}

@media only screen and (max-width: 1000px) {
    
    .auth-card{
        width: 90%;
    }
    
    .title{
        font-size: 2em;
    }
}