<div class="container">
  <h1>Log In</h1>
  <mat-card class="auth-card">
    <mat-card-content class="auth-form">
      <mat-form-field appearance="fill">
        <mat-label>Enter your email</mat-label>
        <input type="email" matInput
          (keyup.enter)="loginEmail.valid && loginPass.valid ? passLogin(loginEmail.value, loginPass.value) : false"
          placeholder="cow@example.com" [formControl]="loginEmail" required>
        <mat-error *ngIf="this.loginEmail.hasError('required')">Email is required</mat-error>
        <mat-error *ngIf="this.loginEmail.hasError('email')">Not a valid e-mail</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Enter your password</mat-label>
        <input type="password" matInput
          (keyup.enter)="loginEmail.valid && loginPass.valid ? passLogin(loginEmail.value, loginPass.value) : false" placeholder="12345"
          [formControl]="loginPass" required>
        <mat-error *ngIf="this.loginPass.hasError('required')">Password is required</mat-error>
        <mat-error *ngIf="this.loginPass.hasError('whitespace')">No whitespaces allowed in password</mat-error>
      </mat-form-field>
      <mat-error>{{loginError}}</mat-error>
    </mat-card-content>
    <mat-card-actions align="end">

      <button mat-raised-button color="primary" type="submit" (click)="passLogin(loginEmail.value, loginPass.value)"
        [disabled]="loadingLogin || !loginEmail.valid || !loginPass.valid">
        {{ loadingLogin ? 'Loading' : 'Log in' }}
      </button>
    </mat-card-actions>
  </mat-card>

  <h1>Register</h1>
  <mat-card class="auth-card">
    <mat-card-content class="auth-form">
      <mat-form-field appearance="fill">
        <mat-label>Enter your email</mat-label>
        <input type="email" matInput
          (keyup.enter)="signupEmail.valid && signupUser.valid && signupPass.valid  ? signUp(signupEmail.value, signupPass.value, signupUser.value) : false"
          placeholder="cow@example.com" [formControl]="signupEmail" required>
        <mat-error *ngIf="this.signupEmail.hasError('required')">Email is required</mat-error>
        <mat-error *ngIf="this.signupEmail.hasError('email')">Not a valid e-mail</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Enter your username</mat-label>
        <input matInput
          (keyup.enter)="signupEmail.valid && signupUser.valid && signupPass.valid ? signUp(signupEmail.value, signupPass.value, signupUser.value) : false"
          placeholder="happycow" [formControl]="signupUser" required>
        <mat-error *ngIf="this.signupUser.hasError('required')">Username is required</mat-error>
        <mat-error *ngIf="this.signupUser.hasError('whitespace')">No whitespaces allowed in username</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Enter your password</mat-label>
        <input type="password" matInput
          (keyup.enter)="signupEmail.valid && signupUser.valid && signupPass.valid ? signUp(signupEmail.value, signupPass.value, signupUser.value) : false"
          placeholder="12345" [formControl]="signupPass" required>
        <mat-error *ngIf="this.signupPass.hasError('required')">Password is required</mat-error>
        <mat-error *ngIf="this.signupPass.hasError('whitespace')">No whitespaces allowed in password</mat-error>
      </mat-form-field>
      <mat-error>{{signupError}}</mat-error>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-raised-button color="primary" type="submit"
        (click)="signUp(signupEmail.value, signupPass.value, signupUser.value)"
        [disabled]="loadingSignup || !signupEmail.valid || !signupPass.valid || !signupUser.valid">
        {{ loadingSignup ? 'Loading' : 'Sign up' }}
      </button>
    </mat-card-actions>
  </mat-card>

  <!-- <mat-card class="auth-card">
    <mat-card-content class="auth-form">
      <p class="description">Sign in via magic link with your email below</p>
      <mat-form-field appearance="fill">
        <mat-label>Enter your email</mat-label>
        <input #magicEmail matInput (keyup.enter)="magic.valid ? magicLogin(magicEmail.value) : false"
          placeholder="cow@example.com" [formControl]="magic" required>
        <mat-error *ngIf="magic.invalid">{{getErrorMessage(magic)}}</mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-raised-button color="primary" type="submit" (click)="magicLogin(magicEmail.value)"
        [disabled]="loading || !magic.valid">
        {{ loading ? 'Loading' : 'Send magic link' }}
      </button>
    </mat-card-actions>
  </mat-card> -->
</div>