<app-navbar></app-navbar>
<div class="container">
  <app-profile-stats
    *ngIf="!loading"
    class="stats"
    [avatarUrl]="profile?.avatar_url"
    [username]="guestMode ? guestUsername : profile?.username"
  ></app-profile-stats>
  <div class="games-container">
    <div class="games-title unselectable"> MY GAMES</div>
    <app-games-viewer
      class="games-table"
      [username]="guestMode ? guestUsername : profile?.username"
    ></app-games-viewer>
  </div>
  <div *ngIf="!loading && !guestMode" class="buttons-container">
    <button
      mat-raised-button
      class="button"
      color="accent"
      (click)="editProfile()"
    >
      Edit your profile
    </button>
    <button mat-raised-button class="button" color="warn" (click)="signOut()">
      Sign Out
    </button>
  </div>
  <div *ngIf="guestMode" class="buttons-container">
    <button
      mat-raised-button
      class="button"
      color="warn"
      (click)="signOutGuest()"
    >
      Sign out from Guest
    </button>
  </div>
</div>
