.container{
    padding-top: 100px;

    display: flex; 
    flex-direction: column;
    align-items: center; 
    justify-content: flex-start;
}

.title{
    text-align: center;
    font-size: 3.5em;
    line-height:normal;
    margin: 20px 0px 40px 0px;
}

.profile-card{
    width: 400px;
}

.profile-form{
    display: flex;
    flex-direction: column;
    // align-items: center;
    gap: 5px;
}

