<app-image-background></app-image-background>
<app-navbar></app-navbar>
<div class="container">
    <img class="logo unselectable" src="../../../../assets/earth-logo.svg" />
    <div class="buttons-container">
        <div class="example-ripple-container" matRipple [matRippleCentered]="false" [matRippleDisabled]="false"
            (click)="routeTo('classic')">
            Classic
        </div>
        <div class="example-ripple-container" matRipple [matRippleCentered]="false" [matRippleDisabled]="false"
            (click)="routeTo('country')">
            Country
        </div>
    </div>
</div>