<div class="stats-panel-container">
    <mat-tab-group mat-align-tabs="center" dynamicHeight>
        <mat-tab label="Personal Scores">
            <h2 class="user">{{username}}</h2>
            <div class="scores-container">
                <div class="stats-content">
                    <div class="stat">
                        <div>Played</div>
                        <div class="stat-number">{{stats.played}}</div>
                    </div>
                    <div class="stat">
                        <div>Highscore</div>
                        <div class="stat-number">{{stats.highscore}}</div>
                    </div>
                    <div class="stat">
                        <div>Rank</div>
                        <div class="stat-number">#{{stats.rank}}</div>
                    </div>
                </div>
                <app-barchart [inputData]="stats.distribution" class="histo"></app-barchart>
            </div>
        </mat-tab>
        <mat-tab label="Leaderboard">
            <div class="leaderboard-container">
                <app-leaderboard class="leaderboard" (selectedPathsEvent)="openMap($event)"></app-leaderboard>
                <app-map *ngIf="mapOpen"  class="map" [paths]="selectedPaths"></app-map>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>