.help-container{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
    z-index: 20;
}

.help-title{
    text-align: center;
    font-size: 2em;
    line-height: 1 ;
    margin-bottom: 25px;
}

.help-container mat-card-content{
    font-size: 1.25em;
    line-height: 1 ;
}

